/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 15px; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

.text-center {
  text-align: center; }

.text-end {
  text-align: right; }

.margin-top {
  margin-top: 20px; }

.margin-bottom {
  margin-bottom: 20px; }

.margin-left {
  margin-left: 20px; }

.margin-right {
  margin-right: 20px; }

.larger {
  font-size: larger; }

.primary {
  color: #333; }

.secondary {
  color: #888; }

.important {
  color: #BF5450; }

/* MARK: - Card */
.card {
  background-color: #FFFFFFAA;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 30px 0;
  color: #464845;
  margin: 0 0 20px 0; }

.card-header {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.card-body {
  width: 100%; }

.card-footer {
  padding-top: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.container {
  padding: 0 50px 0 50px;
  margin: auto;
  max-width: 1200px; }

.container-full {
  padding: 0;
  margin: auto; }

.row, .group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.4; }

.group {
  margin: 15px 0 20px 0; }

.col-lg-12, .col-12 {
  width: calc(100% - 20px); }

.col-lg-8, .col-8 {
  width: calc(66% - 20px); }

.col-lg-6, .col-6 {
  width: calc(50% - 20px); }

.col-lg-4, .col-4 {
  width: calc(33% - 20px); }

.col-lg-3, .col-3 {
  width: calc(25% - 20px); }

.col-lg-2, .col-2 {
  width: calc(16.6% - 20px); }

.col-lg-12,
.col-lg-6,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-12,
.col-6,
.col-4,
.col-3,
.col-2 {
  padding: 0 10px; }

/*.col-lg-12:last-of-type,*/
/*.col-lg-6:last-of-type,*/
/*.col-lg-4:last-of-type,*/
/*.col-lg-2:last-of-type,*/
/*.col-lg-3:last-of-type,*/
/*.col-12:last-of-type,*/
/*.col-6:last-of-type,*/
/*.col-4:last-of-type,*/
/*.col-3:last-of-type,*/
/*.col-2:last-of-type {*/
/*    margin-right: 0;*/
/*}*/
/* MARK: - Default Elements */
body {
  background-color: #f0f0f1;
  color: #333;
  padding: 20px; }

h1, h2, h3, h4, h5 {
  color: black;
  font-weight: bold; }

h1 {
  font-size: 36px; }

p {
  margin-bottom: 30px; }

a, a:hover, a:visited {
  text-decoration: none;
  font-style: normal;
  color: #1E4659;
  transition: 0.36s; }

samp {
  font-family: "Lucida Console", "Courier New", monospace; }

i {
  font-style: normal;
  font-family: FontAwesome, serif; }

label {
  font-size: 15px; }

li {
  padding-left: 10px; }

.loading-container {
  width: 100%;
  padding: 100px 0; }

.loading-card {
  margin: auto;
  padding: 20px 0;
  width: 300px;
  color: #919191;
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace; }

.card-corpus-metadata .label {
  margin-top: 7px; }

.card-corpus-metadata div {
  font-size: 22px;
  color: darkgray;
  bottom: 0; }

.card-corpus-metadata samp {
  font-size: 32px;
  color: black; }

.card-body-about {
  margin: 20px 20px; }

.card-inset {
  padding: 40px 40px; }

/* MARK: - Buttons */
button {
  background-color: #00000000;
  color: #333;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transition: 0.36s;
  border: none; }

button:hover, a:hover {
  color: #1E4659; }

button:active, a:active {
  opacity: 0.6; }

.back-button::before {
  content: '\2190';
  margin: 0 5px 0 0; }

.button-forward::after {
  content: '\2192';
  margin: 0 0 0 5px; }

.button-down::after {
  content: '\2193';
  margin: 0 0 0 5px; }

.button-small {
  font-size: smaller; }

.round-button {
  border-radius: 999px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.round-button:active {
  background: rgba(0, 0, 0, 0.1);
  opacity: 1; }

.button-group button {
  margin: 0 8px; }

.button-group button:first-of-type {
  margin-left: 0; }

.button-group button:last-of-type {
  margin-right: 0; }

.button-group input {
  margin: 0 8px; }

.button-group label {
  margin-right: 8px; }

input[type="radio"] {
  margin: 0 5px 0 20px;
  cursor: pointer; }

input[type="radio"]:first-of-type {
  margin-left: 0; }

input[type="text"] {
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  width: 90%; }

input[type="checkbox"] {
  margin: 0 5px 0 0;
  cursor: pointer; }

.dropdown-container label {
  margin-right: 5px; }

.dropdown-container label::after {
  content: ':'; }

.radio-group label {
  color: black;
  font-weight: normal;
  cursor: pointer;
  transition: 0.36s; }

.radio-group label:hover {
  color: #1E4659; }

.radio-group label:active {
  opacity: 0.6; }

.range-container {
  width: auto;
  text-align: center; }
  .range-container input[type="range"] {
    margin: 0 5px 0 5px;
    width: 80%; }
  .range-container .range-value-label {
    width: 100%;
    display: block; }

.menu a {
  display: compact;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 2; }

.menu a::after {
  content: '\2192';
  margin: 0 0 0 5px;
  text-decoration: none; }

.underground, .popup-underground, .modal-underground {
  display: none;
  position: fixed;
  z-index: 99991;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll; }
  .underground .card, .popup-underground .card, .modal-underground .card {
    background-color: #f0f0f1;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 60px 0; }

.popup-underground {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.15); }

.modal-underground {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9); }

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.popup-underground {
  display: none;
  position: fixed;
  z-index: 99991;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.15); }
  .popup-underground .card {
    background-color: #f0f0f1;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 60px 0; }

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.tooltip {
  position: relative;
  display: inline-block;
  line-height: 1.2; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #f0f0f1;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 10px 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -130px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px 0; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #f0f0f1 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.footer {
  padding: 50px 0 50px 0;
  line-height: 2;
  font-size: 14px;
  color: gray; }

.footer a {
  margin: 0 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: gray;
  transition: 0.36s;
  cursor: pointer; }

.footer a:hover {
  color: #1E4659; }

.word-list {
  overflow: scroll;
  line-height: 1.6;
  display: block; }
  .word-list div {
    word-break: keep-all;
    display: block; }
  .word-list a {
    cursor: pointer; }
  .word-list a:before {
    content: '\2192';
    margin: 0 5px 0 0; }
  .word-list a .representation {
    margin: 0 0 0 5px; }
  .word-list a .variations {
    margin: 0 5px 0 5px;
    color: dimgray; }

.info-box, .info-box-margin {
  margin-top: 10px;
  display: grid;
  line-height: 1.5; }

.info-box-margin {
  padding: 30px;
  padding-top: 0; }

.map-label {
  pointer-events: none; }

/* Style for Custom Tooltip */
.map-tooltip {
  position: absolute;
  padding: 10px;
  background: #f0f0f1;
  font: 12px sans-serif;
  stroke-width: 2;
  border-radius: 8px;
  pointer-events: none;
  line-height: 1.4; }

svg {
  overflow: visible; }

.progress-bar-container {
  border: 2px solid gray;
  border-radius: 20px;
  width: 100%;
  height: 14px;
  overflow: hidden; }
  .progress-bar-container .progress-bar {
    background-color: lightgray;
    width: 20%; }
