/* sized */
/* colors */
/* font sizes */
.ltv-bar-chart-background {
  fill: transparent;
  cursor: pointer;
}

.ltv-bar-chart-grid {
  color: lightgrey;
  stroke-width: 1;
}

.ltv-bar-chart-axis-label {
  font-size: 12px;
}

.ltv-bar-chart-legend-label {
  cursor: pointer;
  font-size: 12px;
}

.ltv-bar-chart-label {
  pointer-events: none;
  font-size: 20px;
}

.ltv-bar-chart-bar {
  pointer-events: none;
}

.ltv-bar-chart-hover-bar {
  cursor: pointer;
  fill: dodgerblue;
}

.ltv-bar-chart-selection-rect {
  cursor: pointer;
  fill: gray;
}

.ltv-legend {
  display: block;
  text-align: left;
}
.ltv-legend .ltv-legend-title {
  font-size: 12px;
  padding-bottom: 5px;
}

.ltv-legend-group {
  font-size: 12px;
  margin-right: 5px;
  display: block;
  line-height: 1.5;
}

/* Customize the label (the container) */
.ltv-legend-pill {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ltv-legend-pill input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ltv-legend-pill-span {
  font-size: 12px;
  display: inline-flex;
  padding: 2px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  opacity: 0.2;
}

.ltv-legend-pill input[type="checkbox"]:hover ~ .ltv-pill-pill-span {
  opacity: 0.8;
}

/* When the checkbox is checked, add a blue background */
.ltv-legend-pill input[type="checkbox"]:checked ~ .ltv-legend-pill-span {
  opacity: 1;
}

.ltv-legend-pill input[type="radio"]:checked ~ .ltv-legend-pill-span {
  opacity: 1;
}

.ltv-map-background {
  cursor: pointer;
  fill: white;
}

.ltv-map-area {
  fill: white;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}

.ltv-map-area-hover {
  stroke: dodgerblue;
  stroke-width: 4;
  stroke-dasharray: 0 !important;
}

.ltv-map-exterior-borders {
  fill: clear;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 4;
  stroke-opacity: 0.4;
  pointer-events: none;
}

.ltv-map-label {
  text-anchor: middle;
  font-size: 12px;
  pointer-events: none;
}

.ltv-map-selection-border {
  pointer-events: none;
  fill: transparent;
  fill-opacity: 0;
  stroke: dodgerblue;
  stroke-width: 3px;
  stroke-dasharray: 0;
  pointer-events: none;
}

.ltv-map-legend-rect {
  stroke: black;
  stroke-width: 1;
}

.ltv-selected {
  fill: dodgerblue;
  opacity: 0.3;
}

.ltv-plot-chart-background {
  fill: transparent;
  cursor: pointer;
}

.ltv-plot-bar {
  stroke: lightgrey;
  stroke-width: 1;
  pointer-events: none;
}

.ltv-plot-chart-hover-rect {
  border-radius: 10px;
  fill: dodgerblue;
}

.ltv-plot-chart-selection-rect {
  border-radius: 10px;
  fill: dodgerblue;
}

.ltv-plot-grid {
  color: lightgrey;
  stroke-width: 1;
}

.ltv-plot-label {
  fill: white;
  text-anchor: start;
  font-size: 10px;
  pointer-events: none;
}

.ltv-chart-svg {
  overflow: visible;
}

.ltv-datatext .ltv-datatext-title {
  font-size: 12px;
}
.ltv-datatext pre.ltv-datatext-pre {
  counter-reset: line;
  font-size: 10px;
  border-top: solid 0.5px lightgray;
  margin: 0;
  padding: 10px 0 0 0;
}
.ltv-datatext pre.ltv-datatext-pre code.ltv-datatext-code {
  display: block;
}
.ltv-datatext pre.ltv-datatext-pre code.ltv-datatext-code:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  text-align: end;
  padding: 0 0.5em;
  margin-right: 0.5em;
  min-width: 30px;
  color: #888;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ltv-url {
  word-wrap: break-word;
  font-size: 12px;
}

.ltv-tooltip {
  position: absolute;
  padding: 8px;
  background: white;
  font-size: 12px;
  stroke-width: 2;
  border-radius: 8px;
  border: solid 1px dodgerblue;
  pointer-events: none;
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0;
  z-index: 99;
  opacity: 0;
}

.ltv-tooltip-show {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
