// MARK: - Font
$primary-font-size: 15px;
$primary-font-family: sans-serif;

$monospace-font-size: 15px;
$monospace-font-family: "Lucida Console", "Courier New", monospace;

// MARK: - Border / Spacing
$small-border: 10px;
$border: 20px;
$hugh-border: 30px;
$spacing: 5px;
$radius: 8px;

// MARK: - Colors
$primary-text-color: #333;
$secondary-text-color: #888;
$tint-color: dodgerblue;
$background: #f0f0f1;
$darkGray: #464845;
$lightGray: #919191;

body {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
}

@import "scss/reset";
@import "scss/custom";
@import "scss/footer";
@import "scss/menu";
@import "scss/progress-bar";
@import "scss/style";
