
.word-list {
  overflow: scroll;
  line-height: 1.6;
  display: block;

  div {
    word-break: keep-all;
    display: block;
  }

  a {
    cursor: pointer;
  }

  a:before {
    content: '\2192';
    margin: 0 $spacing 0 0;
  }

  a .representation {
    margin: 0 0 0 $spacing;
  }

  a .variations {
    margin: 0 $spacing 0 $spacing;
    color: dimgray;
  }
}

.info-box {
  margin-top: $small-border;
  display: grid;
  line-height: 1.5;
}

.info-box-margin {
  @extend .info-box;
  padding: $hugh-border;
  padding-top: 0;
}
