
.footer {
  padding: 50px 0 50px 0;
  line-height: 2;
  font-size: 14px;
  color: gray;
}

.footer a {
  margin: 0 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: gray;
  transition: 0.36s;
  cursor: pointer;
}

.footer a:hover {
  color: $tint-color;
}
