
.container {
  padding: 0 50px 0 50px;
  margin: auto;
  max-width: 1200px;
}

.container-full {
  padding: 0;
  margin: auto;
}

.row, .group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.4;
}

.group {
  margin: 15px 0 20px 0;
}

.col-lg-12, .col-12 {
  width: calc(100% - 20px);
}

.col-lg-8, .col-8 {
  width: calc(66% - 20px);
}

.col-lg-6, .col-6 {
  width: calc(50% - 20px);
}

.col-lg-4, .col-4 {
  width: calc(33% - 20px);
}

.col-lg-3, .col-3 {
  width: calc(25% - 20px);
}

.col-lg-2, .col-2 {
  width: calc(16.6% - 20px);
}

.col-lg-12,
.col-lg-6,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-12,
.col-6,
.col-4,
.col-3,
.col-2 {
  padding: 0 10px;
}
