/* MARK: - Default Elements */

body {
  background-color: $background;
  color: $primary-text-color;
  padding: $border;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

p {
  margin-bottom: 30px;
}

a, a:hover, a:visited {
  text-decoration: none;
  font-style: normal;
  color: $tint-color;
  transition: 0.36s;
}

samp {
  font-family: $monospace-font-family;
}

i {
  font-style: normal;
  font-family: FontAwesome, serif;
}

label {
  font-size: 15px;
}

li {
  padding-left: $small-border;
}

.loading-container {
  width: 100%;
  padding: 100px 0;
}

.loading-card {
  margin: auto;
  padding: 20px 0;
  width: 300px;
  color: #919191;
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.card-corpus-metadata {

  .label {
    margin-top: 7px;
  }

  div {
    font-size: 22px;
    color: darkgray;
    bottom: 0;
  }

  samp {
    font-size: 32px;
    color: black;
  }
}

.card-body-about {
  margin: 20px 20px;
}

.card-inset {
  padding: ($border * 2) ($border * 2);
}

samp {
  white-space: pre-wrap;
}
