name: Deploy Stage

on:
  push:
    branches:
      - stage

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'stage'
      - name: Add remote origin
        run: |
          git filter-branch -- --all
          git remote add heroku https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/${{ secrets.HEROKU_APP_NAME_STAGE }}.git
      - name: Deploy to Heroku Main
        run: |
          git push heroku HEAD:main -f
